#etch-a-sketch {
    background: firebrick;
    height: 600px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 30px;
}
#clearAndPrompt {
    width: 30%;
    height: 30px;
    align-self: center;
    margin-top: 0px;
}
#container-div {
    background: darkgray;
    height: 400px;
    width: 400px;
    align-self: center;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
#knobs-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
}
#title {
    font-family: "Galada";
    font-size: 40px;
    color: goldenrod;
    padding: 0px 20px 0px 20px;
}
.knob {
    background: white;
    border-radius: 50%;
    border: gray 2px dashed;
    height: 70px;
    width: 70px;
    align-self: center;
}

.black {
    background: black;
}
input {
    opacity: 0.01;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
input:hover {
    opacity: 1;
}
#rainbow {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
#rainbow:hover {
    background: rgb(255,21,0);
    background: linear-gradient(90deg,
 rgba(255,21,0,1) 0%,
  rgba(255,219,0,1) 10%,
   rgba(231,194,0,1) 18%,
    rgba(52,255,0,1) 27%,
     rgba(0,255,226,1) 44%,
      rgba(8,0,255,1) 62%,
       rgba(141,0,255,1) 78%,
        rgba(219,0,178,1) 93%,
         rgba(255,0,0,1) 100%);
}